.capitalize {
  text-transform: capitalize;
}

.main-loader {
  position: absolute;
  z-index: 9999;
  width: 100%;
  height: 100%;

  p {
    font-size: 3rem;
    color: red;
  }

  .loader-bg {
    color: rgba(0, 0, 0, 0.57);
    width: 100%;
    height: 100%;
  }
}

.component-loader {
  position: absolute;
  z-index: 9999;
  width: 100%;
  height: 100%;

  p {
    z-index: 9999;
    font-size: 1.5rem;
    color: #ffffff;
    text-align: center;
  }

  background-color: rgba(0, 0, 0, 0.57);

}

.card {
  padding: 10px;

  background: #fff;
  box-shadow: 5px 5px 25px 0 rgba(46,61,73,.2);
  border-radius: .375rem;
  transition: .3s;

  &:hover {
    box-shadow: 2px 4px 8px 0 rgba(46,61,73,.2);
  }
}

.pointed {
  cursor: pointer;
}

.white-muted {
  color: #d4d4d4f0;
}

.debug {
  background-color: #373737;
  color: white;
  padding: 10px;
  margin: 20px;

  pre {
    color: white;
  }
}

//.breadcrumb {
//  margin-top: 30px;
//}